.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    min-height: 600px;
}

.marketing p + h4 {
    margin-top: 28px;
}

.spinner {
    position: relative;
    left: 50%;
    margin-top:30%;
    width: 0px;
    height: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ecf2f6;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}

.sidebar {
    width: 20%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background: #354052;
    color: #a0abbf;
}

.content {
    min-height: 500px;
    width: 80%;
    position: relative;
    float: right;
}

.search-box .search {
    border: 0;
    height: 100%;
    width: 100%;
    padding-left: 55px;
}

.search-box {
    border-top: 1px solid #eeeff3;
    border-bottom: 1px solid #eeeff3;
    height: 40px;
    color: #a2abb7;
    font-size: 14px;
    position: relative;
}

.search-box .search-icon {
    position: absolute;
    left: 25px;
    top: 8px;
    font-size: 20px;
}

.sidebar .section-head {
    padding-left: 10px;
    color: #65748d;
    font-size: 12px;
    font-weight: bold;
}

.sidebar .separator {
    border-top: 1px solid #293241;
    border-bottom: 1px solid #3d495d;
}

.sidebar .separator-inner {
    border-top: 1px solid #303a4a;
    border-bottom: 1px solid #2b3544;
}

.table_container {
    padding: 0 20px 20px 20px;
}

.sidebar .head {
    font-size: 16px;
    text-align: center;
}

.sidebar .logo {
    margin-right: 5px;
}

.sidebar .sidebar-nav {
    list-style: none;
    padding: 0;
}

.sidebar .sidebar-nav li {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}

.sidebar .sidebar-nav li i {
    font-size: 14px;
    margin-right: 5px;
}

.no-antialiasing {
    -webkit-font-smoothing: none;
}

.sidebar .sidebar-nav li.active {
    color: #fff;
    background: #2f3949;
    border-left: 2px solid #15a4fa;
}

.sidebar .sidebar-nav li span {
    padding-bottom: 1px;
}

.sidebar .sidebar-nav li:hover {
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    color: #a0abbf;
}

.meta {
    padding-left: 20px;
    margin-top: 20px;
}

.meta .area-title {
    color: #4e515e;
}

.meta p {
    color: #596679;
    font-size: 13px;
}

.meta .pull-right {
  margin-top: 25px;
  margin-right: 20px;
}

.meta .btn {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #6f7d95;
}

.meta .btn.active {
  background-color: #354052;
  border-color: #354052;
  color: #ffffff;
}

.table_container {
    font-size :13px;
}

.table_container th {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    background-color: #6f7d95 !important;
    border-color: #6f7d95 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(78, 81, 94, 0.02);
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #354052;
    border-color: #354052;
}

.pagination > * {
    font-weight: bold;
}

.table-bordered {
    border: 1px solid #E0E5E9;
}

.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
    border-color: #eef2f5;
}

.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

.results table {
    background-color: #fff;
}

.chart-container {
  padding-left: 20px;
}

.chart-container .panel {
  background-color: transparent;
  border: 1px solid #E0E5E9;
}

.chart-container  .panel-heading {
  background-color: #6f7d95;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

.chart {
    text-align: center;
}

.pagination a {
    color: #6f7d95;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a2abb7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a2abb7;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a2abb7;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a2abb7;
}

.result-detail-header {
  text-align: center;
}

.result-detail-container {
  padding-left: 20px;
  padding-right: 20px;
}

.specs-counters {
  cursor: pointer;
}

.result-detail-summary {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-width: 1px;
  border-style: solid;
  color: #596679;
  border-color: #596679;
}

.result-detail .info {
  border-color: #428bca;
  color: #428bca;
}

.result-detail .success {
  border-color: #5cb85c;
  color: #5cb85c;
}

.result-detail .danger {
  border-color: #d9534f;
  color: #d9534f;
}

.result-detail-summary .number {
  display: block;
  text-align: center;
  font-size: 3em;
  padding-top: 25px;
  font-weight: lighter;
}

.result-detail h4 {
  text-align: center;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #CFCECE;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

/* @media (max-width: 767px) {*/
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
/* } */

.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}

.result-detail-timeline, .spec-detail-timeline{
  padding-top: 10px;
}

.timeline-body .panel {
  background-color: transparent;
}
